name: Nightly

on:
  schedule:
    - cron: '0 2 * * *'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  
jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log into container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate build date
        id: build_date_gen
        run: echo ::set-output name=build_date::$(date --iso-8601=minutes)

      - name: Build and push image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          build-args: |
            BUILD_DATE=${{ steps.build_date_gen.outputs.build_date }}
            BUILD_COMMIT=${{ github.sha }}
            BUILD_VERSION=nightly
          labels: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:nightly
